In [5]:
#Script to optimize climate proxy dataset

#Created: 24.02.2016
#Last modified:

In [6]:
import numpy as np
import pandas as pd
import collections
import os

In [16]:
# Create dataframe from analogues file

df = pd.DataFrame()
df = pd.read_csv('proxies.tsv', delimiter='\t', index_col=0)
#df.set_index('Date', inplace=True)

df.head(5)

#dfS.index.name

,Longitude,Latitude,Depth,RecentDate,OldestDate,Archive,Material,DOI,Reference
Id,,,,,,,,,
1,64.21600,23.588,1802,1.37,108.84,Ocean,Planktonic foraminifera,10.1038/31750,"Schulz, H., van Rad, U., & Erlenkeuser, H. (19..."
2,17.75000,36.260,3658,0.00,19.97,Ocean,Planktonic foraminifera,10.1016/j.marmicro.2009.07.004,"Numberger, L., Hemleben, C., Hoffmann, R., Mac..."
3,17.75000,36.260,3658,0.00,19.97,Ocean,Planktonic foraminifera,10.1016/j.marmicro.2009.07.004,"Numberger, L., Hemleben, C., Hoffmann, R., Mac..."
4,17.75000,36.260,3658,0.00,19.97,Ocean,Planktonic foraminifera,10.1016/j.marmicro.2009.07.004,"Numberger, L., Hemleben, C., Hoffmann, R., Mac..."
5,-14.70167,55.485,2168,111.08,135.11,Ocean,Benthic foraminifera,10.5194/cp-8-483-2012,"Govin, A., Braconnot, P., Capron, E., Cortijo,..."

In [17]:
#drop DOI and Reference columns for now
#DF.drop('column_name', axis=1, inplace=True)
#DF.drop(DF.columns[[0, 1, 3]], axis=1) # Note: zero indexed

df.drop('DOI', axis=1, inplace=True)
df.drop('Reference', axis=1, inplace=True)

df.head(10)

,Longitude,Latitude,Depth,RecentDate,OldestDate,Archive,Material
Id,,,,,,,
1,64.21600,23.588000,1802.0,1.37,108.84,Ocean,Planktonic foraminifera
2,17.75000,36.260000,3658.0,0.00,19.97,Ocean,Planktonic foraminifera
3,17.75000,36.260000,3658.0,0.00,19.97,Ocean,Planktonic foraminifera
4,17.75000,36.260000,3658.0,0.00,19.97,Ocean,Planktonic foraminifera
5,-14.70167,55.485000,2168.0,111.08,135.11,Ocean,Benthic foraminifera
6,-14.70167,55.485000,2168.0,110.34,135.11,Ocean,Benthic foraminifera
7,-119.98100,32.833867,1165.8,0.00,187.24,Ocean,Planktonic foraminifera
8,-119.98100,32.833867,1165.8,0.98,187.24,Ocean,Benthic foraminifera
9,13.40025,-11.920770,426.0,0.00,22.00,Ocean,Benthic foraminifera
10,13.40025,-11.920770,426.0,0.02,21.98,Ocean,Benthic foraminifera

In [18]:
#Replace Archive and Material strings by number identifiers

archive_dict={
        u"Ice": 1,
        u"Lake": 2,
        u"Ocean": 3,
        u"Speleothem": 4,
        u"Tree": 5
}

material_dict={
        u"Benthic foraminifera": 1,
        u"Carbonate": 2,
        u"Cellulose": 3,
        u"Coral": 4,
        u"Ice": 5,
        u"Non-Carbonate": 6,
        u"Others": 7,
        u"Planktonic foraminifera": 8,
        u"Speleothem": 9,
        u"Unknown": 10
    
}

df_opt = df.replace({'Archive': archive_dict, 'Material': material_dict})

In [20]:
df_opt.head(10)

    Longitude   Latitude   Depth  RecentDate  OldestDate  Archive Material
Id
1    64.21600  23.588000  1802.0        1.37      108.84        3        8
2    17.75000  36.260000  3658.0        0.00       19.97        3        8
3    17.75000  36.260000  3658.0        0.00       19.97        3        8
4    17.75000  36.260000  3658.0        0.00       19.97        3        8
5   -14.70167  55.485000  2168.0      111.08      135.11        3        1
6   -14.70167  55.485000  2168.0      110.34      135.11        3        1
7  -119.98100  32.833867  1165.8        0.00      187.24        3        8
8  -119.98100  32.833867  1165.8        0.98      187.24        3        1
9    13.40025 -11.920770   426.0        0.00       22.00        3        1
10   13.40025 -11.920770   426.0        0.02       21.98        3        1

In [25]:
#SAVE TO TSV FILE

#df_opt.to_csv('proxies_noDOI_noRef_opt.tsv', sep='\t')
df_opt.shape

(2014, 7)

In [36]:
#make select file for testing
df_select = df_opt[:-1900]
df_select.head(10)

    Longitude   Latitude   Depth  RecentDate  OldestDate  Archive Material
Id
1    64.21600  23.588000  1802.0        1.37      108.84        3        8
2    17.75000  36.260000  3658.0        0.00       19.97        3        8
3    17.75000  36.260000  3658.0        0.00       19.97        3        8
4    17.75000  36.260000  3658.0        0.00       19.97        3        8
5   -14.70167  55.485000  2168.0      111.08      135.11        3        1
6   -14.70167  55.485000  2168.0      110.34      135.11        3        1
7  -119.98100  32.833867  1165.8        0.00      187.24        3        8
8  -119.98100  32.833867  1165.8        0.98      187.24        3        1
9    13.40025 -11.920770   426.0        0.00       22.00        3        1
10   13.40025 -11.920770   426.0        0.02       21.98        3        1

In [35]:
df_select.shape

(114, 7)

In [37]:
#df_select.to_csv('proxies_noDOI_noRef_opt_select.tsv', sep='\t')