In [12]:
#Script to optimize climate proxy dataset

#Created: 24.02.2016
#Last modified:

In [13]:
import numpy as np
import pandas as pd
import collections
import os

In [46]:
# Create dataframe from analogues file

df = pd.DataFrame()
df = pd.read_csv('proxies.tsv', delimiter='\t', index_col=0)
#df.set_index('Date', inplace=True)

df.head(5)

#dfS.index.name

,Longitude,Latitude,Depth,RecentDate,OldestDate,Archive,Material,DOI,Reference
Id,,,,,,,,,
1,64.21600,23.588,1802,1.37,108.84,Ocean,Planktonic foraminifera,10.1038/31750,"Schulz, H., van Rad, U., & Erlenkeuser, H. (19..."
2,17.75000,36.260,3658,0.00,19.97,Ocean,Planktonic foraminifera,10.1016/j.marmicro.2009.07.004,"Numberger, L., Hemleben, C., Hoffmann, R., Mac..."
3,17.75000,36.260,3658,0.00,19.97,Ocean,Planktonic foraminifera,10.1016/j.marmicro.2009.07.004,"Numberger, L., Hemleben, C., Hoffmann, R., Mac..."
4,17.75000,36.260,3658,0.00,19.97,Ocean,Planktonic foraminifera,10.1016/j.marmicro.2009.07.004,"Numberger, L., Hemleben, C., Hoffmann, R., Mac..."
5,-14.70167,55.485,2168,111.08,135.11,Ocean,Benthic foraminifera,10.5194/cp-8-483-2012,"Govin, A., Braconnot, P., Capron, E., Cortijo,..."

In [43]:
df['DOI'].unique().shape
#df['DOI'].shape

(588,)

In [58]:
DOIarr = df['DOI'].unique()
dfDOI = pd.DataFrame()
dfDOI['DOI'] = DOIarr   #.toarray().tolist()
dfDOI.index.name = 'id'
dfDOI

#make a dict from DOI df
DOI_dict = dfDOI.to_dict()
#DOI_dict

#s = dfDOI.apply((lambda x: x.to_dict()), axis=1)
#s

id
0                             {u'DOI': u'10.1038/31750'}
1            {u'DOI': u'10.1016/j.marmicro.2009.07.004'}
2                     {u'DOI': u'10.5194/cp-8-483-2012'}
3          {u'DOI': u'10.2973/odp.proc.sr.167.205.2000'}
4                      {u'DOI': u'10.1029/2003PA000948'}
5          {u'DOI': u'10.2973/odp.proc.sr.175.230.2001'}
6                       {u'DOI': u'10.1038/nature09751'}
7          {u'DOI': u'10.2973/odp.proc.sr.184.221.2004'}
8                {u'DOI': u'urn:nbn:de:gbv:8-diss-5231'}
9          {u'DOI': u'10.2973/odp.proc.sr.184.205.2004'}
10                        {u'DOI': u'10.1029/98PA02508'}
11               {u'DOI': u'10.1016/j.epsl.2008.02.007'}
12                         {u'DOI': u'10.1038/364322a0'}
13                       {u'DOI': u'10.1007/BF02369003'}
14                  {u'DOI': u'10.1126/science.1228246'}
15                        {u'DOI': u'10.1029/92PA02253'}
16              {u'DOI': u'10.1177/095968369500500103 '}
17                          {u'DOI': u'10.1038/ngeo357'}
18                        {u'DOI': u'10.1029/91PA00501'}
19                     {u'DOI': u'10.1029/2007JD009143'}
20                        {u'DOI': u'10.1029/96PA01236'}
21                     {u'DOI': u'10.1029/1999PA000375'}
22              {u'DOI': u'10.1016/j.yqres.2005.02.014'}
23         {u'DOI': u'10.1016/j.orggeochem.2010.05.010'}
24             {u'DOI': u'10.1016/j.palaeo.2014.04.014'}
25           {u'DOI': u'10.1016/j.marmicro.2007.09.002'}
26                {u'DOI': u'10.1191/0959683605hl931rp'}
27                            {u'DOI': u'10.1038/23432'}
28           {u'DOI': u'10.1126/science.284.5420.1654 '}
29              {u'DOI': u'10.1126/science.269.5220.46'}
                             ...
558               {u'DOI': u'10.1007/s00382-007-0344-8'}
559                 {u'DOI': u'10.1126/science.1163965'}
560                       {u'DOI': u'10.1029/97PA02982'}
561                        {u'DOI': u'10.1130/G21874.1'}
562              {u'DOI': u'10.1016/j.epsl.2005.11.012'}
563                 {u'DOI': u'10.1126/science.1140461'}
564            {u'DOI': u'10.1016/j.palaeo.2011.05.030'}
565                      {u'DOI': u'10.1002/palo.20028'}
566                    {u'DOI': u'10.1029/2010PA001928'}
567                  {u'DOI': u'10.1006/qres.1997.1940'}
568    {u'DOI': u'https://etd.ohiolink.edu/ap/10?0::N...
569            {u'DOI': u'10.1016/j.quaint.2010.06.030'}
570         {u'DOI': u'10.1016/j.quascirev.2012.10.048'}
571              {u'DOI': u'10.1016/j.epsl.2009.03.016'}
572               {u'DOI': u'10.1007/s00338-009-0576-7'}
573            {u'DOI': u'10.1016/j.palaeo.2008.03.029'}
574                        {u'DOI': u'10.1130/G22567.1'}
575               {u'DOI': u'10.1007/s11430-007-0059-z'}
576               {u'DOI': u'10.1007/s11434-012-5012-7'}
577               {u'DOI': u'10.1007/s11430-010-0025-z'}
578                     {u'DOI': u'10.1038/ncomms1297 '}
579                 {u'DOI': u'10.1126/science.1226299'}
580                {u'DOI': u'10.1126/science.1226299 '}
581                 {u'DOI': u'10.1126/science.1193221'}
582        {u'DOI': u'10.1016/j.orggeochem.2013.10.015'}
583                    {u'DOI': u'10.5194/cp-6-63-2010'}
584                        {u'DOI': u'10.1038/NGEO1782'}
585              {u'DOI': u'10.1016/j.epsl.2004.09.028'}
586               {u'DOI': u'10.1007/s00531-008-0365-5'}
587                      {u'DOI': u'10.1038/ncomms4607'}
dtype: object

In [60]:
#Replace DOI strings by dict numbers

#df_opt = df.replace({'DOI': DOI_dict})
#df_opt = df.replace({'DOI': s})

In [39]:
#drop DOI and Reference columns for now
#DF.drop('column_name', axis=1, inplace=True)
#DF.drop(DF.columns[[0, 1, 3]], axis=1) # Note: zero indexed

df.drop('DOI', axis=1, inplace=True)
df.drop('Reference', axis=1, inplace=True)

df.head(10)

,Longitude,Latitude,Depth,RecentDate,OldestDate,Archive,Material
Id,,,,,,,
1,64.21600,23.588000,1802.0,1.37,108.84,Ocean,Planktonic foraminifera
2,17.75000,36.260000,3658.0,0.00,19.97,Ocean,Planktonic foraminifera
3,17.75000,36.260000,3658.0,0.00,19.97,Ocean,Planktonic foraminifera
4,17.75000,36.260000,3658.0,0.00,19.97,Ocean,Planktonic foraminifera
5,-14.70167,55.485000,2168.0,111.08,135.11,Ocean,Benthic foraminifera
6,-14.70167,55.485000,2168.0,110.34,135.11,Ocean,Benthic foraminifera
7,-119.98100,32.833867,1165.8,0.00,187.24,Ocean,Planktonic foraminifera
8,-119.98100,32.833867,1165.8,0.98,187.24,Ocean,Benthic foraminifera
9,13.40025,-11.920770,426.0,0.00,22.00,Ocean,Benthic foraminifera
10,13.40025,-11.920770,426.0,0.02,21.98,Ocean,Benthic foraminifera

In [40]:
#Replace Archive and Material strings by number identifiers

archive_dict={
        u"Ice": 1,
        u"Lake": 2,
        u"Ocean": 3,
        u"Speleothem": 4,
        u"Tree": 5
}

material_dict={
        u"Benthic foraminifera": 1,
        u"Carbonate": 2,
        u"Cellulose": 3,
        u"Coral": 4,
        u"Ice": 5,
        u"Non-Carbonate": 6,
        u"Others": 7,
        u"Planktonic foraminifera": 8,
        u"Speleothem": 9,
        u"Unknown": 10
    
}

df_opt = df.replace({'Archive': archive_dict, 'Material': material_dict})

In [41]:
archive_dict

{u'Ice': 1, u'Lake': 2, u'Ocean': 3, u'Speleothem': 4, u'Tree': 5}

In [6]:
df_opt.head(10)

    Longitude   Latitude   Depth  RecentDate  OldestDate  Archive Material
Id
1    64.21600  23.588000  1802.0        1.37      108.84        3        8
2    17.75000  36.260000  3658.0        0.00       19.97        3        8
3    17.75000  36.260000  3658.0        0.00       19.97        3        8
4    17.75000  36.260000  3658.0        0.00       19.97        3        8
5   -14.70167  55.485000  2168.0      111.08      135.11        3        1
6   -14.70167  55.485000  2168.0      110.34      135.11        3        1
7  -119.98100  32.833867  1165.8        0.00      187.24        3        8
8  -119.98100  32.833867  1165.8        0.98      187.24        3        1
9    13.40025 -11.920770   426.0        0.00       22.00        3        1
10   13.40025 -11.920770   426.0        0.02       21.98        3        1

In [7]:
#SAVE TO TSV FILE

#df_opt.to_csv('proxies_noDOI_noRef_opt.tsv', sep='\t')
df_opt.shape

(2014, 7)

In [8]:
#make select file for testing
df_select = df_opt[:-1900]
df_select.head(10)

    Longitude   Latitude   Depth  RecentDate  OldestDate  Archive Material
Id
1    64.21600  23.588000  1802.0        1.37      108.84        3        8
2    17.75000  36.260000  3658.0        0.00       19.97        3        8
3    17.75000  36.260000  3658.0        0.00       19.97        3        8
4    17.75000  36.260000  3658.0        0.00       19.97        3        8
5   -14.70167  55.485000  2168.0      111.08      135.11        3        1
6   -14.70167  55.485000  2168.0      110.34      135.11        3        1
7  -119.98100  32.833867  1165.8        0.00      187.24        3        8
8  -119.98100  32.833867  1165.8        0.98      187.24        3        1
9    13.40025 -11.920770   426.0        0.00       22.00        3        1
10   13.40025 -11.920770   426.0        0.02       21.98        3        1

In [9]:
df_select.shape

(114, 7)

In [37]:
#df_select.to_csv('proxies_noDOI_noRef_opt_select.tsv', sep='\t')